name: Docker Image CI

on: [push, pull_request]
jobs:
  build-and-push:
    name: Build and Push Image
    runs-on: ubuntu-latest

    env:
      REMOTE_IMAGE_TAG: ${{ secrets.MMC_REPO }}/getting-started:latest
    steps:
    - name: Source Checkout
      uses: actions/checkout@v4

    - name: Docker login
      uses: docker/login-action@v3
      with:        
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
      
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
          
    - name: Build and Push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{env.REMOTE_IMAGE_TAG }}
    
